<p>add-record works!</p>
<h2>Új tétel</h2>
<form [formGroup]="recordForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">neve: </label>
    <input type="text" name="name" id="name" formControlName="name">
  </div>
  <div>
    <label for="city">település: </label>
    <input type="text" name="city" id="city" formControlName="city">
  </div>
  <div>
    <label for="room">neve: </label>
    <input type="text" name="room" id="room" formControlName="room">
  </div>
  <div>
    <label for="description">neve: </label>
    <textarea name="description" id="description" cols="30" rows="10" formControlName="description"></textarea>
  </div>
  <button type="submit">Rögzít</button>
</form>
