<h2 *ngIf="!editMode">Új tétel</h2>
<h2 *ngIf="editMode">Tétel módosítása</h2>
<form [formGroup]="recordForm">
  <div>
    <label for="name">neve: </label>
    <input type="text" name="name" id="name" formControlName="name">
  </div>
  <div>
    <label for="city">település: </label>
    <input type="text" name="city" id="city" formControlName="city">
  </div>
  <div>
    <label for="room">szoba: </label>
    <input type="text" name="room" id="room" formControlName="room">
  </div>
  <div>
    <label for="description">leírás: </label>
    <textarea name="description" id="description" cols="30" rows="10" formControlName="description"></textarea>
  </div>
  <button *ngIf="!editMode" (click)="addItem()">Hozzáad</button>
  <button *ngIf="editMode" (click)="editItem()">Átír</button>
</form>
