:host {
  width: 100%
}
.camera-select {
  width: 100%;
}

span {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ngx-scanner-qrcode {
  width: 100%;
}

.camera-navs {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1;
}
