:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
table {
  width: 80%;
  margin-top: 20px;
}

button {
  margin-right: 5px;
}

zxing-scanner {
  margin-top: 50px;
  width: 70%;
}

.filters {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  .mat-caption {
    margin: 10px;
  }
}

.show-scrapped {
  visibility: hidden;
}
