<app-scanner id="reader" *ngIf="showScanner" (exitScan)="showScanner = false"></app-scanner>
<div class="filters" [ngClass]="{hidden: showScanner}">
  <button class="show-camera-button" mat-fab color="primary" (click)="toggleShowScanner()">
    <mat-icon>camera_alt</mat-icon>
  </button>
  <mat-form-field appearance="fill">
    <mat-label>Település</mat-label>
    <mat-select (valueChange)="applyFilter(select.value, active)" #select>
      <mat-option *ngFor="let city of cities" [value]="city">
        {{city}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="slide">
    <mat-slide-toggle
      (change)="applyFilter(select.value, active)"
      [(ngModel)]=active
      class="example-margin">
    </mat-slide-toggle>
    <span class="mat-caption" *ngIf="!active">Selejtezett</span>
    <span class="mat-caption" *ngIf="active">Aktív</span>
  </div>
</div>

<mat-accordion *ngIf="currentScreenSize !== 'Medium'" class="example-headers-align" multi displayMode="flat">
  <mat-expansion-panel (click)="accordion.closeAll()" hideToggle disabled>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Név
      </mat-panel-title>
      <mat-panel-description>
        <span>Helység</span>
        <span>Leltározva</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel *ngFor="let item of listToShow" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{item.name}}
      </mat-panel-title>
      <mat-panel-description>
        {{item.room}}
        <mat-checkbox
          *ngIf="item.active"
          [checked]="stockedThisYear(item)"
          (click)="$event.preventDefault()"
        ></mat-checkbox>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="expansion-panel-body">
      <table>
        <tr><th>Rögzítette: </th><td>{{getFullName(item.createdBy)}}</td></tr>
        <tr><th>Rögzítés ideje: </th><td>{{item.createdTime | date :'mediumDate' }}</td></tr>
        <tr *ngIf="item.modifiedTime"><th>Módosította: </th><td>{{getFullName(item.modifiedBy)}}</td></tr>
        <tr *ngIf="item.modifiedTime"><th>Módosítás ideje</th><td>{{item.modifiedTime}}</td></tr>
        <tr><th>Város: </th><td>{{item.city}}</td></tr>
        <tr><th>Helység: </th><td>{{item.room}}</td></tr>
        <tr><th>Leírás: </th><td>{{item.description}}</td></tr>
        <tr *ngIf="item.stockTaking"><th>Leltározva: </th><td>{{((item.stockTaking ? item.stockTaking[item.stockTaking.length - 1] : '') | date : 'mediumDate') || '-'}}</td></tr>
      </table>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<table *ngIf="currentScreenSize === 'Medium'" [ngClass]="{hidden: showScanner}" mat-table [dataSource]="listToShow" class="mat-elevation-z8">
  <ng-container matColumnDef="customID">
    <th mat-header-cell *matHeaderCellDef> Azonosító </th>
    <td mat-cell *matCellDef="let item" (click)="openDialog(item)"> {{item.customID}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef > Név </th>
    <td mat-cell *matCellDef="let item" (click)="openDialog(item)"> {{item.name}} </td>
  </ng-container>
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> Település </th>
    <td mat-cell *matCellDef="let item" (click)="openDialog(item)"> {{item.city}} </td>
  </ng-container>
  <ng-container matColumnDef="room">
    <th mat-header-cell *matHeaderCellDef> Helység </th>
    <td mat-cell *matCellDef="let item" (click)="openDialog(item)"> {{item.room}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Leírás </th>
    <td mat-cell *matCellDef="let item" (click)="openDialog(item)"> {{item.description}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Műveletek </th>
    <td mat-cell *matCellDef="let item">
        <button mat-mini-fab color="accent" (click)="editItem(item.customID)">
          <mat-icon>edit_note</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="deleteItem(item.customID)">
          <mat-icon>delete</mat-icon>
        </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef>{{'Leltározva ' + thisYear}}</th>
    <td mat-cell class="centered" *matCellDef="let item">
      <mat-checkbox
        *ngIf="item.active"
        [checked]="stockedThisYear(item)"
        (click)="$event.preventDefault()"
      ></mat-checkbox>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
