:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
table {
  width: 95%;
  margin-top: 20px;
}

button {
  margin-right: 5px;
  margin-bottom: 22px;
}

zxing-scanner {
  margin-top: 50px;
  width: 70%;
}

.filters {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  .mat-caption {
    margin: 10px;
  }
  .slide {
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
    mat-slide-toggle {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 56px;
    }
    span {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 56px;
      margin: 0;
      padding: 4px 8px;
    }
  }
  .mat-form-field {
    padding-top: 14px;
  }
}

.show-scrapped {
  visibility: hidden;
}

.my-padding {
  padding: 0 5px;
}

.centered {
  text-align: center;
}

.hidden {
  display: none;
}

table {
  border-spacing: 2px;
  margin-top: inherit;
}

th {
  text-align: left;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-accordion {
  width: 100%;
}
