:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
table {
  width: 95%;
  margin-top: 20px;
}

button {
  margin-right: 5px;
}

zxing-scanner {
  margin-top: 50px;
  width: 70%;
}

.filters {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 30px;
  .mat-caption {
    margin: 10px;
  }
  .slide {
    padding-top: 14px;
  }
}

.show-scrapped {
  visibility: hidden;
}

.show-camera-button {
  margin: 10px;
}

.my-padding {
  padding: 0 5px;
}

.centered {
  text-align: center;
}

.hidden {
  display: none;
}

