<h1 mat-dialog-title>{{data.item.name}}</h1>
<div mat-dialog-content>
  <table>
    <tr>
      <td>Település: </td>
      <td>{{data.item.city}}</td>
    </tr>
    <tr>
      <td>Leírás: </td>
      <td>{{data.item.description}}</td>
    </tr>
    <tr>
      <td>Létrehozta: </td>
      <td *ngIf="data.item.createdBy && data.item.createdBy.firstName">{{data.item.createdBy.firstName}}</td>
    </tr>
    <tr>
      <td>Létrehozás ideje: </td>
      <td *ngIf="data.item.createdTime">{{data.item.createdTime | date:"yyyy. MM. dd."}}</td>
    </tr>
    <tr>
      <td>Utoljára módosította: </td>
      <td *ngIf="data.item.modifiedBy && data.item.modifiedBy.firstName">{{data.item.modifiedBy.firstName}}</td>
      <td *ngIf="!data.item.modifiedBy">-</td>
    </tr>
    <tr>
      <td>Módosítás ideje: </td>
      <td *ngIf="data.item.modifiedTime">{{data.item.modifiedTime | date:"yyyy. MM. dd."}}</td>
      <td *ngIf="!data.item.modifiedTime">-</td>
    </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.item.name" cdkFocusInitial>Ok</button>
  <button *ngIf="data.scanned" mat-button (click)="pushToStocked()">Leltárba</button>
</div>

